<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add home airbnb</title>
</head>
<body>
  <header>
    <h1>Welcome to Add Home Page</h1>
  </header>

  <main>
     
    <form action="/host/add-home" method="POST">
      <input type="text" name="homeName" placeholder="Enter home name">
      <input type="text" name="location" placeholder="Enter location">
      <input type="number" name="price" placeholder="Enter price">
      <input type="submit" value="Submit">
    </form>
  </main>
  
</body>
</html>